[submodule "Assets/ThirdPartyAssets/Nautilus"]
	path = Assets/ThirdPartyAssets/Nautilus
	url = https://github.com/SubnauticaModding/Nautilus.git
[submodule "Packages/RippedAssetImporter"]
	path = Packages/RippedAssetImporter
	url = https://github.com/mroshaw/RippedAssetImporter.git
[submodule "Packages/ModPublisher"]
	path = Packages/ModPublisher
	url = https://github.com/mroshaw/ModPublisher.git
